* {
    /* Position */

    /* block-model */
    box-sizing: border-box;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

html {
    /* Position */

    /* block-model */
    scroll-behavior: smooth;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

body {
    /* Position */

    /* block-model */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;

    /* Typography */
    
    /* Decoration */

    /* Animation */

    /* Various */

}

.main {
    /* Position */

    /* block-model */

    /* Typography */
    font-family: 'Inter', sans-serif;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    color: #010201;
    /* Decoration */

    /* Animation */

    /* Various */

}

.main-container {
    /* Position */

    /* block-model */
    margin: 0 auto;

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.container {
    /* Position */

    /* block-model */
    max-width: 1222px;
    margin: 0 auto;

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}


/* Header start*/

header {
    /* Position */

    /* block-model */
    
    /* Typography */
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
    color: #010201;
    /* Decoration */
    background-color: #EDF2EC;
    /* Animation */

    /* Various */

}

.header__wrapper{
    /* Position */

    /* block-model */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    
    /* Typography */
  
    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav {
    /* Position */

    /* block-model */
    width: 37%;
    margin-top: 43px;

    /* Typography */
    
    /* Decoration */

    /* Animation */

    /* Various */

}

.logo {
    /* Position */
    
    /* block-model */
    width: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav__logo {
    /* Position */
    
    /* block-model */
    width: 21px;
    height: 21px;
    margin-right: 2px;

    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-logo-item {
    /* Position */

    /* block-model */
    display: flex;
    justify-content: flex-start;
    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav__list{
    /* Position */
    
    /* block-model */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    /* Typography */

    /* Decoration */
    list-style: none;
    /* Animation */

    /* Various */

}


.nav__item {
    /* Position */

    /* block-model */
    
    /* Typography */
    line-height: 50px;

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav__link {
    /* Position */

    /* block-model */
    
    /* Typography */
    white-space: nowrap;

    /* Decoration */
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Animation */
    
    /* Various */

    /* Animation */
    
    /* Various */

}

.nav__link:link {
    /* Position */

    /* block-model */

    /* Typography */
    font-style: normal;
    font-weight: 400;
    color: #010201;

    /* Decoration */

    /* Animation */
    
    /* Various */
    

}

.nav__link:visited {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-style: normal;
    font-weight: 400;
    color: #010201;
    /* Decoration */

    /* Animation */
    
    /* Various */
    
}

.nav__link:hover {
    /* Position */
    
    /* block-model */

    /* Typography */
    font-style: normal;
    font-weight: 700;
    color: #E06733;

    /* Decoration */

    /* Animation */
    
    /* Various */

}

/* Header end */

/* Welcome section start */

.welcome {
    /* Position */

    /* block-model */
   
    /* Typography */
  
    /* Decoration */
    background-color: #EDF2EC;
    /* Animation */

    /* Various */

}

.welcome__container {
    /* Position */

    /* block-model */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
    /* Typography */
  
    /* Decoration */
    
    /* Animation */

    /* Various */

}

.welcome__leaf-wrapper {
    /* Position */

    /* block-model */
    width: 37%;
    padding: 100px 0 56px;
    /* Typography */
  
    /* Decoration */
    background-color: #EDF2EC;
    /* Animation */

    /* Various */

}
.welcome__leaf-img {
    /* Position */

    /* block-model */
    width: 450px;
    height: 416px;
    display: block;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;

    /* Typography */
  
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome__content-wrapper {
    /* Position */

    /* block-model */
    width: 45%;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    
    /* Typography */
  
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome__title {
    /* Position */

    /* block-model */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome__title-span {
    /* Position */

    /* block-model */

    /* Typography */
    color: #499A18;
    /* Decoration */

    /* Animation */

    /* Various */

}



.welcome__content {
    /* Position */

    /* block-model */
    width: 93%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome__button {
    /* Position */

    /* block-model */
    width: 158px;
    height: 44px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    /* Decoration */
    border: 2px solid #E06733;
    border-radius: 10px;
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */
}

.welcome__button:hover,
.welcome__button:active {
    /* Position */

    /* block-model */
    
    /* Typography */
    color:#FFFFFF;
    /* Decoration */
    background: #E06733;
    cursor: pointer;
    /* Animation */

    /* Various */

}

.welcome__button:visited {
    /* Position */

    /* block-model */
    
    /* Typography */
    opacity: 0.35;
    /* Decoration */

    /* Animation */

    /* Various */

}

/* Welcome section end */

/* About section start */
.about {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    background: #FFFFFF;
    /* Animation */
    
    /* Various */

}

.about__container {
    /* Position */
    
    /* block-model */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about__content-wrapper {
    /* Position */
    
    /* block-model */
    width: 50%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about__title {
    /* Position */
    
    /* block-model */
    width: 70%;
    margin: 0;
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about__title-span {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about__content {
    /* Position */
    
    /* block-model */
    margin: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    white-space: break-spaces;
    color: #636060;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about__houseplant-wrapper {
    /* Position */
    
    /* block-model */
    width: 38%;
    margin-top: 95px;
    margin-bottom: 90px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about__houseplant-img {
    /* Position */
    
    /* block-model */
    width: 464px;
    height: 479px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

/* About section end */

/* service section start */

.service {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    background: #EDF2EC;
    /* Animation */
    
    /* Various */

}

.service__container {
    /* Position */
    
    /* block-model */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.service__options {
    /* Position */
    
    /* block-model */
    max-width: 62.9375em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.service__title {
    /* Position */
    
    /* block-model */
    width: 7.65em;
    margin: 0;
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    white-space: normal;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.service__button-wrapper {
    /* Position */
    
    /* block-model */
    width: 35.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 142px;
    
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.service__button {
    /* Position */

    /* block-model */
    width: 161px;
    height: 50px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    text-decoration: none;
    /* Decoration */
    border: 1px solid #E06733;
    border-radius: 5px;
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */
}

.service__button:hover,
.service__button:active {
    /* Position */

    /* block-model */
    
    /* Typography */
    color:#FFFFFF;
    /* Decoration */
    background: #E06733;
    cursor: pointer;
    /* Animation */

    /* Various */

}

.service__button:visited {
    /* Position */

    /* block-model */
    
    /* Typography */
    opacity: 0.35;
    /* Decoration */

    /* Animation */

    /* Various */

}

.service__content-container {
    /* Position */
    
    /* block-model */
    max-width: 77em;
    min-height: 59.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 77px;
    margin-bottom: 124px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.service__item {
    /* Position */
    
    /* block-model */
    width: 27%;
    min-height: 450px;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content:center;
    align-items:flex-start;
    
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.service__link-wrapper {
    /* Position */
    
    /* block-model */
        
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.service__link {
    /* Position */
    
    /* block-model */
        
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */

}

.service__link:hover,
.service__link:active {
    /* Position */
    
    /* block-model */
        
    /* Typography */
    
    /* Decoration */
    opacity: 0.45;
    /* Animation */
    
    /* Various */

}


.service__img {
    /* Position */
    
    /* block-model */
    width: 329px;
    height: 350px;
    display: block;
    margin: 0;
    /* Typography */
    
    /* Decoration */
    border-radius: 20px 20px 0px 0px;
    /* Animation */
    
    /* Various */

}

.service__definition-wrapper {
    /* Position */
    
    /* block-model */
    width: 330px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    /* Typography */
    
    /* Decoration */
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    /* Animation */
    
    /* Various */

}

.service__subtitle {
    /* Position */
    
    /* block-model */
    margin-top: -6px;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}


.service__definition {
    /* Position */
    
    /* block-model */
    margin-top: -25px;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

/* service section end */

/* Prices section start */
.prices {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    background: #FFFFFF;
    /* Animation */
    
    /* Various */

}

.prices__container {
    /* Position */
    
    /* block-model */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 39px;
    margin-left: auto;
    margin-bottom: 130px;
    margin-right: auto;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.prices__functional {
    /* Position */
    
    /* block-model */
    width: 20.75em;
    height: 24.4375em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-start;
    
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.prices__title {
    /* Position */
    
    /* block-model */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.prices__button-wrapper {
    /* Position */
    
    /* block-model */
    width: 20.75em;
    height: 17.625em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* Typography */
    
    /* Decoration */
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    /* Animation */
    
    /* Various */

}

.prices__accordion-button {
    /* Position */
    position: relative;
    /* block-model */
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-indent: 34px;
    text-align: left;
    color: #000000;
    /* Decoration */
    border: none;
    background: #EDF2EC;
    border-radius: 20px;
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */

}

.prices__accordion-button:hover,
.prices__accordion-button:active {
    /* Position */

    /* block-model */
    
    /* Typography */
    color:#FFFFFF;
    /* Decoration */
    background: #E06733;
    cursor: pointer;
    /* Animation */

    /* Various */

}

.prices__accordion-button_vector:after {
    /* Position */
    position: absolute;
    top: 34%;
    left: 77.6%;
    /* block-model */
    width: 16px;
    height: 16px;
    /* Typography */

    /* Decoration */
    content: "";
    background-image: url(../assets/svg/4_prices/accordion_btn.svg);
    background-repeat: no-repeat;
    /* Animation */
    
    /* Various */

}

.prices__content-container {
    /* Position */
    
    /* block-model */
    width: 28.25em;
    height: 25.3125em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.prices__content-wrapper {
    /* Position */
    
    /* block-model */
    width: 28.25em;
    height: 11.9375em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.prices__title-span {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #499A18;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.prices__content-title {
    /* Position */
    
    /* block-model */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.prices__button {
    /* Position */

    /* block-model */
    width: 162px;
    height: 50px;
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    text-decoration: none;
    /* Decoration */
    background: #FFFFFF;
    border: 1px solid #E06733;
    border-radius: 5px;
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */
}

.prices__button:hover,
.prices__button:active {
    /* Position */

    /* block-model */
    
    /* Typography */
    color:#FFFFFF;
    /* Decoration */
    background: #E06733;
    cursor: pointer;
    /* Animation */

    /* Various */

}

.prices__button:visited {
    /* Position */

    /* block-model */
    
    /* Typography */
    opacity: 0.35;
    /* Decoration */

    /* Animation */

    /* Various */

}

.prices__leaf-img {
    /* Position */
    
    /* block-model */
    width: 152px;
    height: 174.99px;
    display: block;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}
/* Prices section end */

/* Contacts section start */

.contacts {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    background: #EDF2EC;
    /* Animation */
    
    /* Various */

}

.contacts__container {
    /* Position */
    
    /* block-model */
    min-height: 34.3125em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-end;
    margin-top: -16px;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.contacts__content-container {
    /* Position */
    
    /* block-model */
    max-width: 44.25em;
    min-height: 31.0619em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.contacts__content-img {
    /* Position */
    
    /* block-model */
    display: block;
    width: 400px;
    height: 496.99px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.contacts__title {
    /* Position */
    
    /* block-model */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 7px;
    padding-left: 113px;
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.contacts__functional-wrapper {
    /* Position */
    
    /* block-model */
    max-width: 28.125em;
    min-height: 34.375em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 148px;
    /* Typography */

    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.contacts__functional-accordion {
    /* Position */
    position: relative;
    /* block-model */
    width: 450px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-indent: 14px;
    text-align: left;
    color: #717171;
    /* Decoration */
    border: none;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */

}

.contacts-functional-accordion:hover,
.contacts-functional-accordion:active {
    /* Position */

    /* block-model */
    
    /* Typography */

    /* Decoration */
    background: #C1E698;
    border: 1px solid #D6E7D2;
    border-radius: 0px;
    cursor: pointer;
    /* Animation */

    /* Various */

}

.contacts__accordion-button_vector:after {
    /* Position */
    position: absolute;
    top: 34%;
    left: 88.67%;
    /* block-model */
    width: 16px;
    height: 16px;
    /* Typography */

    /* Decoration */
    content: "";
    background-image: url(../assets/svg/5_contacts/accordion_btn.svg);
    background-repeat: no-repeat;
    /* Animation */
    
    /* Various */

}

/* Contacts section end */



.footer {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    background: #FFFFFF;
    /* Animation */
    
    /* Various */

}

.footer-container {
    /* Position */
    
    /* block-model */
    max-width: 1222px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 35px 0px;
    /* Typography */
    
    /* Decoration */

    /* Animation */
    
    /* Various */

}

.footer-list-copy {
    /* Position */
    
    /* block-model */
    width: 169px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    
    /* Typography */
    line-height: 50px;
    /* Decoration */
    list-style: none;
    /* Animation */
    
    /* Various */

}

.footer-list-copy-item {
    /* Position */
    
    /* block-model */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 50px; */
    color: #000000;
    /* Decoration */
    list-style: none;
    /* Animation */
    
    /* Various */

}

.footer-list-copy-link {
    /* Position */
    
    /* block-model */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 50px; */
    color: #000000;
    text-decoration: none;
    /* Decoration */
    list-style: none;
    /* Animation */
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */

}

.footer-list-copy-link:hover,
.footer-list-copy-link:active,
.footer-bage-link:hover {
    /* Position */
    
    /* block-model */

    /* Typography */

    /* Decoration */
    font-style: normal;
    font-weight: 700;
    color: #E06733;
    /* Animation */
    letter-spacing: -0.4px;
    /* Various */

}

.footer-list-copy-link:visited,
.footer-bage-link:visited,
.footer-social-link:visited {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-style: normal;
    font-weight: 400;
    color: #000000;
    /* Decoration */
    
    /* Animation */
    
    /* Various */
    
}

.footer-list-copy-link:visited:hover,
.footer-bage-link:visited:hover,
.footer-social-link:visited:hover {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-style: normal;
    font-weight: 700;
    color: #E06733;
    /* Decoration */
    
    /* Animation */
    
    /* Various */
    
}

.footer-bage {
    /* Position */
    
    /* block-model */
    width: 226px;
    /* Typography */
    line-height: 50px;
    /* Decoration */
    list-style: none;
    /* Animation */
    
    /* Various */
    
}

.footer-bage-link {
    /* Position */
    
    /* block-model */
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 50px; */
    text-decoration: none;
    color: #000000;
    /* Decoration */
    list-style: none;
    /* Animation */
    
    /* Various */
    
}

.footer-social-list {
    /* Position */
    
    /* block-model */
    width: 188px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    /* Typography */
    line-height: 50px;
    /* Decoration */
    list-style: none;
    /* Animation */
    
    /* Various */
    
}

.footer-social-item {
    /* Position */
    
    /* block-model */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* Typography */
    
    /* Decoration */

    /* Animation */
    
    /* Various */
    
}

.footer-social-link {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */

    /* Animation */
    
    /* Various */
    
}

.footer-social-link:hover,
.footer-social-link:active {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    /* Animation */
    
    /* Various */

}

.footer-social-icons {
    /* Position */
    
    /* block-model */
    display: block;
    /* Typography */
    
    /* Decoration */
    fill:#000000;
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */
    
}

.footer-social-icons:hover, 
.footer-social-icons:active {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    fill:#E06733;
    /* Animation */
    
    /* Various */
    
}

.footer-social-icons:hover, 
.footer-social-icons:active,
.footer-social-icons:visited:hover,
.footer-social-icons:visited:active {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    fill:#E06733;
    /* Animation */
    
    /* Various */
    
}