* {
    /* Position */

    /* block-model */
    box-sizing: border-box;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

html {
    /* Position */

    /* block-model */
    scroll-behavior: smooth;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

body {
    /* Position */

    /* block-model */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;

    /* Typography */
    
    /* Decoration */

    /* Animation */

    /* Various */

}

.main {
    /* Position */

    /* block-model */

    /* Typography */
    font-family: 'Inter', sans-serif;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    color: #010201;
    /* Decoration */

    /* Animation */

    /* Various */

}

.main-container {
    /* Position */

    /* block-model */
    margin: 0 auto;

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}


/* Header start*/

header {
    /* Position */

    /* block-model */
    
    /* Typography */
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
    color: #010201;
    /* Decoration */
    background-color: #EDF2EC;
    /* Animation */

    /* Various */

}

.header-wrapper{
    /* Position */

    /* block-model */
    max-width: 1222px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    
    /* Typography */
  
    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav {
    /* Position */

    /* block-model */
    width: 36.988543%;
    margin-top: 43px;

    /* Typography */
    
    /* Decoration */

    /* Animation */

    /* Various */

}

.logo {
    /* Position */
    
    /* block-model */
    width: 6.478723%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-logo {
    /* Position */
    
    /* block-model */
    width: 21px;
    height: 21px;
    margin-right: 2px;

    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-logo-item {
    /* Position */

    /* block-model */
    display: flex;
    justify-content: flex-start;
    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-list{
    /* Position */
    
    /* block-model */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    /* Typography */

    /* Decoration */
    list-style: none;
    /* Animation */

    /* Various */

}


.nav-item {
    /* Position */

    /* block-model */
    
    /* Typography */
    line-height: 50px;

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-link {
    /* Position */

    /* block-model */
    
    /* Typography */
    white-space: nowrap;

    /* Decoration */
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Animation */
    
    /* Various */

    /* Animation */
    
    /* Various */

}

.nav-link:link {
    /* Position */

    /* block-model */

    /* Typography */
    font-style: normal;
    font-weight: 400;
    color: #010201;

    /* Decoration */

    /* Animation */
    
    /* Various */
    

}

.nav-link:visited {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-style: normal;
    font-weight: 400;
    color: #010201;
    /* Decoration */

    /* Animation */
    
    /* Various */
    
}

.nav-link:hover {
    /* Position */
    
    /* block-model */

    /* Typography */
    font-style: normal;
    font-weight: 700;
    color: #E06733;

    /* Decoration */

    /* Animation */
    
    /* Various */

}

/* Header end */

/* Welcome section start */

.welcome {
    /* Position */

    /* block-model */
   
    /* Typography */
  
    /* Decoration */
    background-color: #EDF2EC;
    /* Animation */

    /* Various */

}

.welcome-container {
    /* Position */

    /* block-model */
    max-width: 1222px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    /* margin-top: 62px;

    /* Typography */
  
    /* Decoration */
    
    /* Animation */

    /* Various */

}

.leaf {
    /* Position */

    /* block-model */
    width: 36.726678%;
    /* Typography */
  
    /* Decoration */
    background-color: #EDF2EC;
    /* Animation */

    /* Various */

}
.welcome-leaf {
    /* Position */

    /* block-model */
    width: 462px;
    height: 423px;
    margin-top: 94px;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;

    /* Typography */
  
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome-content-wrapper {
    /* Position */

    /* block-model */
    width: 44.926350%;
    height: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 46px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    
    /* Typography */
  
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome-title {
    /* Position */

    /* block-model */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome-title-span {
    /* Position */

    /* block-model */

    /* Typography */
    color: #499A18;
    /* Decoration */

    /* Animation */

    /* Various */

}



.welcome-content {
    /* Position */

    /* block-model */
    width: 93%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    /* Decoration */

    /* Animation */

    /* Various */

}

.welcome-button {
    /* Position */

    /* block-model */
    width: 158px;
    height: 44px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    /* Decoration */
    border: 2px solid #E06733;
    border-radius: 10px;
    /* Animation */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Various */
}

.welcome-button:hover, .welcome-button:active {
    /* Position */

    /* block-model */
    
    /* Typography */
    color:#FFFFFF;
    /* Decoration */
    background: #E06733;
    /* Animation */

    /* Various */

}

.welcome-button:visited {
    /* Position */

    /* block-model */
    
    /* Typography */
    opacity: 0.35;
    /* Decoration */

    /* Animation */

    /* Various */

}

/* Welcome section end */

/* About-us section start */
.about {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    background: #FFFFFF;
    /* Animation */
    
    /* Various */

}

.about-container {
    /* Position */
    
    /* block-model */
    max-width: 1222px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about-content-wrapper {
    /* Position */
    
    /* block-model */
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 99px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about-title {
    /* Position */
    
    /* block-model */
    width: 70%;
    margin: 0px;
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about-title-span {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about-content {
    /* Position */
    
    /* block-model */
    margin: 0px;
    /* Typography */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    white-space: break-spaces;
    color: #636060;
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about-houseplant-wrapper {
    /* Position */
    
    /* block-model */
    width: 37.970540%;
    margin-top: 95px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.about-houseplant-img {
    /* Position */
    
    /* block-model */
    width: 464px;
    height: 479px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}



/* About-us section end */


.footer-rsschool-logo {
    /* Position */
    
    /* block-model */
    width: 120px;
    height: 35px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}