* {
    /* Position */

    /* block-model */
    box-sizing: border-box;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

html {
    /* Position */

    /* block-model */
    scroll-behavior: smooth;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

body {
    /* Position */

    /* block-model */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;

    /* Typography */
    
    /* Decoration */

    /* Animation */

    /* Various */

}

.main {
    /* Position */

    /* block-model */

    /* Typography */
    font-family: 'Inter', sans-serif;
    font-family: 'Inika', serif;
    /* Decoration */

    /* Animation */

    /* Various */

}

.main-container {
    /* Position */

    /* block-model */
    display: flex;
    flex-wrap: wrap;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.container {
    /* Position */

    /* block-model */
    max-width: 1440px;
    margin: 0 auto;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

header {
    /* Position */

    /* block-model */
    width: 1440px;
    height: 134px;
    /* Typography */
    font-family: 'Inika', serif;
    font-size: 16px;
    color: #010201;
    /* Decoration */
    background-color: #EDF2EC;
    /* Animation */

    /* Various */

}

.main-title{
    /* Position */

    /* block-model */

    /* Typography */
  
    /* Decoration */

    /* Animation */

    /* Various */

}
.navbar-wrapper{
    /* Position */


    /* block-model */
    display: flex;
    justify-content: space-between;
    width: 1220px;
    height: 50px;
    /* Typography */
  
    /* Decoration */

    /* Animation */

    /* Various */

}

nav {
    /* Position */

    /* block-model */
    display: flex;
    justify-content: flex-end;
    width: 452px;
    height: 50px;
    margin-top: 42px;
    margin-right: 109px;
    margin-bottom: 42px;
    margin-left: 13px;

    /* Typography */
    
    /* Decoration */

    /* Animation */

    /* Various */

}

.logo {
    /* Position */
    
    /* block-model */
    display: flex;
    justify-content: flex-end;
    width: 79px;
    height: 21px;
    margin-top: 52px;
    margin-right: 689px;
    margin-bottom: 61px;
    margin-left: 111px;
    align-items: baseline;
    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-logo {
    /* Position */
    
    /* block-model */
    width: 21px;
    height: 21px;
    margin-right: 1px;

    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-logo-item {
    /* Position */

    /* block-model */
    display: flex;
    justify-content: flex-start;
    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-list{
    /* Position */
    
    /* block-model */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;

    /* Typography */

    /* Decoration */
    list-style: none;
    /* Animation */

    /* Various */

}


.nav-item {
    /* Position */

    /* block-model */
    margin-right: 46px;
    
    /* Typography */
    line-height: 50px;

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-item:last-child {
    /* Position */

    /* block-model */
    margin-right: 0px;

    /* Typography */
    line-height: 50px;

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-link {
    /* Position */

    /* block-model */
    
    /* Typography */
    white-space: nowrap;

    /* Decoration */
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s
    transition-timing-function: ease;
    transition-delay: 0s;
    /* Animation */
    
    /* Various */

    /* Animation */
    
    /* Various */

}

.nav-link:link {
    /* Position */

    /* block-model */

    /* Typography */
    font-style: normal;
    font-weight: 400;
    color: #010201;

    /* Decoration */

    /* Animation */
    
    /* Various */
    

}

.nav-link:visited {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-style: normal;
    font-weight: 400;
    color: gray;
    /* Decoration */

    /* Animation */
    
    /* Various */
    
}

.nav-link:hover {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    font-style: normal;
    font-weight: 700;
    color: #E06733;

    /* Decoration */

    /* Animation */
    
    /* Various */

}


.footer-rsschool-logo {
    /* Position */
    
    /* block-model */
    width: 120px;
    height: 35px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}